{% extends 'Naysis/base/baseWithSlider.html'%}


{%block content%}
{%load static%}
  <!--Text Intro Section-->
    <section class="text-intro">
    	<div class="auto-container">

        	<div class="row clearfix">

                <!--Column-->
                <article class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box main-text">
                        <h2>Naysis</h2>
                        <h3>we wll build your <span class="color_blue">business mountains</span></h3>
                    </div>
                </article>

                <!--Column-->
                <article class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                    </div>
                </article>

            </div>
        </div>
    </section>



    <!--Default Section-->
    <section class="default-section connected no-padd-top">
    	<div class="auto-container">
        	<div class="row clearfix">

                <!--Column-->
                <div class="column icon-column center-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_purple"><span class="fa fa-desktop"></span></div>
                        <h3 class="montserrat-font text-uppercase">Software Development</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>

                <!--Column-->
                <div class="column icon-column center-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_orange"><span class="fa fa-code"></span></div>
                        <h3 class="montserrat-font text-uppercase">Web Development</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>

                <!--Column-->
                <div class="column icon-column center-icon-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box text-center">
                    	<div class="icon img-circle bg_red"><span class="fa fa-line-chart"></span></div>
                        <h3 class="montserrat-font text-uppercase">Analysis</h3>
                        <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</div>
                    </div>
                </div>

            </div>
        </div>
    </section>




{%endblock%}