{% extends 'Naysis/base/basePage.html'%}


{%block content%}
{%load static%}
 <!--Page Title-->
    <section class="page-title" style="background-image:url({%static 'images/background/pages/about.jpg' %});">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>About</h1>
                <div class="page-subtitle">Who we are & what we are doing</div>
            </div>
        </div>
        <!--Down Arrow-->
        <div class="down-arrow scroll-to-target" data-target=".scroll-to-this"></div>
    </section>

  <!--Normal Section-->
    <section class="normal-section half-section">
    	<div class="auto-container">

            <div class="row clearfix">
            	<!--Column-->
            	<div class="column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="sec-title">
                    		<h2 class="default-title text-uppercase">WHAT WE DO</h2>
                			<div class="theme-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</div>
                    	</div>

                        <div class="text">
                        	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.</p>
                        </div>
                        <br>

                        <div class="row clearfix">
                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                	<li>Software Development</li>
                                    <li>Web Development</li>
                                    <li>Web Desing</li>
                                    <li>Website Analysis</li>
                                </ul>
                            </div>

                            <!--Column-->
                            <div class="col-lg-6 col-md-6 col-xs-12 column">
                                <ul class="styled-list-one">
                                	<li>Data Analysis</li>
                                    <li>Data Visualization</li>
                                    <li>Data Modeling</li>
                                    <li>Data Transformation</li>
                                </ul>
                            </div>


                        </div>

                    </div>
                </div>

                <!--Column-->
            	<div class="column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">


                        <!--Progress Levels-->
                        <div class="progress-levels">

                            <h2 class="default-title text-uppercase">Our skills</h2>
                            <br>

                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-title">Web Development</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="95"><div class="percent"></div></div></div>

                                    </div>
                                </div>
                            </div>

                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="box-title">Software Development</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="90"><div class="percent"></div></div></div>
                                    </div>
                                </div>
                            </div>

                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="box-title">Data Analysis and Visualization</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="95"><div class="percent"></div></div></div>

                                    </div>
                                </div>
                            </div>

                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="box-title">Administration & Support</div>
                                <div class="inner">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="95"><div class="percent"></div></div></div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>

{%endblock%}