<footer class="main-footer">

        <!--Footer Upper-->
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">

                	<div class="col-lg-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <h2>About Us</h2>
                            <div class="text">
                            	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.</p>
                            </div>

                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-6 col-xs-12 column">

                    </div>


                    <!--Footer Column-->
                    <div class="col-lg-4 col-sm-12 col-xs-12 column">
                        <h2>Quick Links</h2>
                    	<div class="row clearfix">

                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <ul>
                                        <li><a href="{% url 'about:index' %}">About</a></li>
                                        <li><a href="{% url 'services:index' %}">Services</a></li>
                                        <li><a href="{% url 'portfolio:index' %}">Portfolio</a></li>
                                        <li><a href="{% url 'blog:index' %}">Blog</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--Contact Info-->
                <div class="contact-info">
                	<ul>

                        <li><span class="bullet">&bull;</span> E-mail:   info@naysis.com</li>

                    </ul>
                </div>

            </div>
        </div>

        <!--Footer Bottom-->

    </footer>